<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>

<body>
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-large">
    <span class="w3-bar-item w3-theme-l1">VIU</span>
  </div>
</div>

<div class="w3-container">
  <div class="w3-row w3-padding-16" style="position:relative;top:25px">
      <h1 class="w3-text-teal">Project Summary</h1>
      <p>The project entails building a website using the Django framework in Python. 
Visitors to the site can query a database for Job titles or Companies of interest to find details pertaining to recruitment processes. 
This will provide users with information that will help them as they prepare to apply in those companies.
The site is primarily geared towards 2 types of users: Employers, and Jobseekers. 
The database will be populated by visitors to the site. Users can create an account to be able to view their submissions. 
Users can also submit details without creating an account.
</p>
	<p>Usability testing will be done with the help of the Graphics Design department at Vancouver Island University. 
Third year students in the department will test a prototype of the site, and the User Interface will be adjusted based on their feedback.
Interviews will be conducted with Employers in Nanaimo as well as Students, to tailor the questionnaires to their expectations. The website
owner will be Selena Martin, an Internship Coordinator at Vancouver Island University who has experience guiding others with both sides of
the recruitment process.
	</p>
    </div>  
</div>
<div class="w3-container">
  <div class="w3-row">
      <h1 class="w3-text-teal">Project Specs</h1>
      <p><ul>
<li>Postgre SQL is used to create a relational database to store data for the website</li>
<li>Django/Python is used in a Linux environment, Xubuntu 16.04</li>
<li>The web pages are designed using HTML, CSS, and Javascript</li>
<li>Once completed the website will be deployed using Heroku</li>
<li>The website is being completed under supervision from Dr. Johan Latulippe, a professor at Vancouver Island University.</li>
</ul>
</p>
    </div>
</div>
  <!-- Pagination -->
  <footer id="myFooter">
    <div class="w3-container w3-theme-l2 w3-bottom">
      <h4 style="float:right">Vancouver Island University</h4>
      <h5>Rob Chauhan<br>
      <span style="float:left">robchauhans@gmail.com</span></h5>
      <br>
    </div>
  </footer>
</div>
</body>
</html>
