<!DOCTYPE html>

<head>
<title>Nanaimo Housing</title>
<style>
body, html {
	background-color:#373737;
    height: 100%;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}
</style>
<title>Hello world!</title>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="https://s3-us-west-2.amazonaws.com/visolutions/housing/css/housing.css">
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/visolutions/housing/js/housing.js"></script>


</head>

<body>
	<!-- background picture -->
	<div class='bg'>
		<div class='bg_title' id='bg_title'>Nanaimo Housing</div>
		<script>
		document.getElementById('bg_title').addEventListener("click", show_topic);
		</script>
	</div>
	
	<!-- navigator tabs -->
	<div class='tabframe' id='tabframe'>
		<div id='intro_tab' class='tabs_selected' onclick='click_intro();'>
			Intro
		</div>
		<div id='start_using_tab' class='tabs' onclick='click_start_using();'>
			Start Using
		</div>
		<div id='info_tab' class='tabs' onclick='click_info();'>
			About
		</div>
	</div>
	
	<!-- content -->
	<div id='content' class='content'>
		<div id='intro' class='content_show'>
			<div class='work_exp'>
				<h1 class='big_title'>
					Our Work<br>
				</h1>
				<p>
					We provide simple data solutions to people who need house renting information in Nanaimo.
				</p>
			</div>

			<div class='work_exp'>
				<img src='https://s3-us-west-2.amazonaws.com/visolutions/media/image/python.png'>
				<h1 class='small_title'>
					Python
				</h1>
				<p>
					Manage complex interactions between database and website.
				</p>
				<p>
					Scrape online data to create a dynamic webpage.
				</p>
			</div>
	
			<div class='work_exp'>
				<img src='https://s3-us-west-2.amazonaws.com/visolutions/media/image/heroku.png'>
				<h1 class='small_title'>
					Heroku
				</h1>
				<p>
					Launch simple apps.
				</p>
				<p>
					Host dynamic websites.
				</p>
			</div>
			
			<div class='work_exp'>
				<img src='https://s3-us-west-2.amazonaws.com/visolutions/media/image/aws.png'>
				<h1 class='small_title'>
					AWS
				</h1>
				<p>
					Use s3 for data hosting.
				</p>
				<p>
					RDS for a rock solid but low-cost database.
				</p>
				<p>
					EC2 to run Apache.
				</p>
				<p>
					Run R programs on your AWS instance.
				</p>
			</div>
			
		</div>
		<div id='start_using' class='content_hide'>
			this is an app<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
			blablabla<br>
		</div>
		<div id='info' class='content_hide'>
			<br><br>
			<h1 class='big_title'>We are a small IT team in Nanaimo, BC.</h1>
			<div class='about_butt'>
				<a href="http://www.vancouverislandsolutions.ca/#contact" target="_blank">Contect Us</a>
			</div>
		</div>
	</div>
	
	<!-- bott -->
	<div class='bott'>
		<div class="footer-social-icons">
			<ul class="social-icons">
			<li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
			<li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
			<li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
			<li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
			<li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
			<li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
			</ul>
		</div>
	</div>
	
	
</body>
