<!DOCTYPE html>
{% load static %}
 
<html>
<title>Logos</title>
<head>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body, html {
	
	}
.logo {
	display: inline-block;
	}
</style>

<link href="{% static '' %}" type='text/css' rel='stylesheet'>
<script type="text/javascript" src="{% static '' %}"></script>

</head>

<body>
	<div class='logo'>
		<span>vs_bb</br></span>
		<img src='https://s3-us-west-2.amazonaws.com/visolutions/media/image/vs_bb.png'>
	</div>
	<div class='logo'>
		<span>vs_bg</br></span>
		<img src='https://s3-us-west-2.amazonaws.com/visolutions/media/image/vs_bg.png'>
	</div>
	<div class='logo'>
		<span>vs_by</br></span>
		<img src='https://s3-us-west-2.amazonaws.com/visolutions/media/image/vs_by.png'>
	</div>
	<div class='logo'>
		<span>vs_gb</br></span>
		<img src='https://s3-us-west-2.amazonaws.com/visolutions/media/image/vs_gb.png'>
	</div>
	<div class='logo'>
		<span>vs_gg</br></span>
		<img src='https://s3-us-west-2.amazonaws.com/visolutions/media/image/vs_gg.png'>
	</div>
	<div class='logo'>
		<span>vs_gy</br></span>
		<img src='https://s3-us-west-2.amazonaws.com/visolutions/media/image/vs_gy.png'>
	</div>
	<div class='logo'>
		<span>vs_yb</br></span>
		<img src='https://s3-us-west-2.amazonaws.com/visolutions/media/image/vs_yb.png'>
	</div>
	<div class='logo'>
		<span>vs_yg</br></span>
		<img src='https://s3-us-west-2.amazonaws.com/visolutions/media/image/vs_yg.png'>
	</div>
	<div class='logo'>
		<span>vs_yy</br></span>
		<img src='https://s3-us-west-2.amazonaws.com/visolutions/media/image/vs_yy.png'>
	</div>
	<div class='logo'>
		<span>vsold</br></span>
		<img src='https://s3-us-west-2.amazonaws.com/visolutions/media/image/vsold.png'>
	</div>
	<div class='logo'>
		<span>vsold1</br></span>
		<img src='https://s3-us-west-2.amazonaws.com/visolutions/media/image/vsold1.png'>
	</div>
	<div class='logo'>
		<span>vsold2</br></span>
		<img src='https://s3-us-west-2.amazonaws.com/visolutions/media/image/vsold2.png'>
	</div>
	<div class='logo'>
		<span>vsold3</br></span>
		<img src='https://s3-us-west-2.amazonaws.com/visolutions/media/image/vsold3.png'>
	</div>
</body>
</html> 
