
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="/tutorials/">
    Tutorials
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
    {% for file,name in tutorials %}
        <li>
        <a href="/tutorials/{{ file }}">{{ name|title }}</a>
        </li>
    {% endfor %}
    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="/projects/">
    Projects
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
    {% for file,name in projects %}
        <li>
        <a href="/projects/{{ file }}">{{ name|title }}</a>
        </li>
    {% endfor %}
    </ul>
</li>



